/* Header Section CSS */
.header-bg-color{
    background-color: #f7e3fa;
    
}


/* Image Slider custom CSS */
.nike-btn-primary{
    background-color: #3845C6;
}

.nike-btn:hover{
    background-color: green;
}
.image-slider-upper-text-color{
    color: #FA804C;
    font-size: 55px;
}
.image-slider-lower-text-color{
    color: #363958;
    font-size: 55px;
}

/* casual Shoe Section Custom CSS */
.casual-shoe-color{
    color: #363958;
    font-weight: bold;
    margin-top: 80px;
}

.casual-shoe1-bg-color, .casual-shoe2-bg-color, .casual-shoe3-bg-color{
    background-color: #d8d8d8;
 

}

.casual-shoe2-bg-color{
    padding-bottom: 10px;
}
.casual-shoe3-bg-color{
    padding-bottom: 25px;
}
.nike-shoe-price{
    color: #FA804C;
    font-weight: bolder;
    margin-left: 15px;
}
.nike-shoe-button{
    margin-right: 10px;
    margin-bottom: 20px;
}



/* Bottom Section Cystom CSS */
/* .bottom-section-headings{
    margin-left: -80px;
}
.bottom-section-headings h4{
    margin-top: 15px;
}


.bottom-section-question-headings{
    margin-left: -35px;
}

.bottom-section-question-headings h4{
    margin-top: 10px;
}


.bottom-icon-images{
    margin-left: 20px;

} */







/* New Bottom Section Customized CSS */
.bottom-section{
    margin-top: 100px;
}
.bottom-section-headings1{
    /* margin-left: -20px; */
    margin-top: 10px;
}
.bottom-section-headings2{
    /* margin-left: -40px; */
    margin-top: 10px;
}

.bottom-section-headings3{
    /* margin-left: -30px; */
    margin-top: 10px;
}

/* .botton-div-1, .botton-div-2, .botton-div-3{
    background-color: white;
} */

/* .bottom-section-icon-div img{
    margin-left: 0px;

} */

.bottom-div-1, .bottom-div-2, .bottom-div-3 {
    border: 2px solid rgb(245, 28, 173);
}

.bottom-section-icon-div{
    margin-left: -5px;
}

.bottom-section-right-image img{
    margin-left: 5px;
    margin-top: 35px;
}

.question-icon-div{
    margin-left: 20px;
}
.house-icon-div{
    margin-left: 10px;
}











/* Footer Customized CSS  */
.footer-section{
    margin-top: 100px;
}



.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: black;
    
}